@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bar{
    background-image: url("1-home.jpg");
    background-blend-mode: darken;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;

}

img{
    width: 100%;
}

.num{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 15px;
}

.flex-container{
    /* background-color: grey; */
    display: flex;
    justify-content: space-around;
    height: 120px;

}

.flex-item_1{
    margin-right: 130px;
    display: flex;
    align-items: center;
}

.flex-item_2{
    margin-left: 130px;
    display: flex;
    align-items: center;
}



.flex-item_2 li{
    list-style-type: none;
    margin-left: 32px;
}

.flex-item_2 li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


h1{
    margin-top: 160px;
    margin-bottom: 60px;
    color: white;
    font-size: 70px;
    font-family:'DM Sans','Poppins', 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.getstarted li{
    list-style-type: none;
}

.getstarted li a{
    text-decoration: none;
    color: white;
    background-color: #137547;
    padding: 15px 40px;
    border-radius: 10px;
}

.getstarted li a:hover{
    transition: linear 150ms;
    background: rgb(0, 72, 0);
    padding: 15px 40px;
    border-radius: 10px;
}


.body1{
    margin-top: 150px;
}

.body1 .p{
    font-size: 15px;
    margin-bottom: 30px;
}

hr{
    width: 100px;
    margin: 20px;
}

.body1 h3{
    font-size: xxx-large;
    font-weight: initial;
}


.body2{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Lato';
    margin: 0px 150px 0px 150px;
}

.body2 .main1{
    margin: 20px;
    line-height: 35px;
}

.body2 .main1 img{
    border-radius: 10px;
}

.sentence{
    font-family: 'Lato';
}

.sentence h4{
    font-weight: 500;
    margin: 10px;
}

.comment-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 240, 231);
}

.comment-container .comment-item3{
    max-width: 700px;
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 50px;
}

.comment-container .comment-item4 a{
    padding: 15px 40px;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
    background: none;
    font-style: normal;
    font-size: 18px;
}

.comment-container .comment-item4 button a:hover{
    border: 2px solid #137547;
    background-color: #137547;
    color: white;
}


.comment-item1 img{
    border-radius: 100%;
    max-width: 50%;
}

.comment-item4 li{
    list-style-type: none;
}

.comment-item4 li a{
    text-decoration: none;
    color: black;
}

.comment-item4 li a:hover{
    text-decoration: none;
    background-color: #137547;
    color: white;
    border: 2px solid #137547;
}


.portfolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

h5{
    font-family: 'Lato'; 
    font-size: 30px; 
    font-weight: 400;
    margin: 20px;
    text-align: center;
}

.portfolio .mypic{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;

}

.portfolio .aboutme{
    width: 600px;
    line-height: 40px;
    /* margin-right: 100px; */
}

.aboutme .pin{
    font-size: 10px; 
    margin-bottom: 5px;
}

.aboutme li{
    list-style-type: none;
}

.aboutme li a{
    text-decoration: none;
}

.aboutme ul{
    display: flex;
    justify-content: space-around;
}

.buttons li{
    margin: 20px;
}

.button1 a{
    color: white;
    padding: 15px 40px;
    background: #137547;
    border-radius: 5px;
}


.button1 a:hover{
    color: white;
    padding: 15px 40px;
    background: rgb(0, 72, 0);
    border-radius: 5px;
    transition: 150ms ease;
}


.button2 a{
    color: black;
    padding: 12px 40px;
    border: 3px solid black;
    border-radius: 5px;
}

.button2 a:hover {
    padding: 12px 40px;
    background: rgb(0, 72, 0);
    border-radius: 5px;
    transition: 150ms ease;
    color: white;
    border: 3px solid rgb(0, 72, 0);
}

h2{
    font-size: 65px;
    font-family:'DM Sans','Poppins', 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.rest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("7-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    max-width: 100%;
    height: 550px;
    font-size: 20px;
    color: white;
}

.set{
    text-align: center;
}


.get{
    margin-top: 50px;
}

.get li{
    list-style-type: none;
}

.get li a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 18px;
}

.get li a:hover{
    padding: 15px 40px;
    border: 2px solid #137547;
    background-color: #137547;
    transition: 150ms ease;
}





.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px 20px 70px;
}

.footer ul li{
    list-style-type: none;
}

.footer ul li a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
}

.flex-item_3{
    display: flex;
    align-items: center;
}

.flex-item_4 img{
    max-width: 15%;
    margin-left: 150px;
}







@media(min-width:1124px) and ((max-width:1200px)){

    .bar{
        height: 650px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 55px;
        color: white;
        font-size: 40px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width: 10%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 0px;
    margin-bottom: 22px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 

.flex-item_2 li{
    margin-right: 35px;
}



}

@media (min-width:900px) and (max-width:1124px) {
    
    .bar{
        height: 600px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 55px;
        color: white;
        font-size: 37px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width: 10%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 0px;
    margin-bottom: 22px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 

.flex-item_2 li{
    margin-right: 30px;
}



ul li{
    list-style-type: none;
    /* margin-left: 40px; */
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}


.num{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 16px;
}


    .body2{
        display: flex;flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Lato';
        margin: 0px 20px 0px 20px;
    }

.comment-item3{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

.portfolio .aboutme{
    width: 75%;
    line-height: 35px;
    font-size: 17px;
}

.aboutme h2{
    text-align: center;
}

.aboutme .pin{
    font-size: 0px;
}

.mypic p{
    font-size: 0px;
}

.mypic h5{
    font-size: 0px;
}

.body1 h3{
    font-size: 40px;
}

.body2{
    display: flex;
    flex-wrap: nowrap;
}


.buttons{
    flex-wrap: wrap;
    font-size: 11px;
}




.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    margin: 25px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.flex-item_3{
    display: flex;
    flex-direction: row;
}

.flex-item_4{
    margin: 25px;
    display: flex;
    justify-content: center;
}

.flex-item_4 img{
    width: 28%;
    margin: 0px;
}

.design{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

}

@media (min-width:768px) and (max-width:900px) {
    
    .bar{
        height: 550px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 50px;
        color: white;
        font-size: 35px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width: 10%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-right: 0px;
    margin-bottom: 22px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 



ul li{
    list-style-type: none;
    /* margin-left: 45px; */
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.num{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 16px;
}


    .body2{
        display: flex;flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Lato';
        margin: 0px 20px 0px 20px;
    }

.comment-item3{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

.portfolio .aboutme{
    width: 85%;
    line-height: 35px;
    font-size: 17px;
}

.aboutme h2{
    text-align: center;
}

.aboutme .pin{
    font-size: 0px;
}

.mypic p{
    font-size: 0px;
}

.mypic h5{
    font-size: 0px;
}

.body1 h3{
    font-size: 40px;
}

.body2{
    display: flex;
    flex-wrap: nowrap;
}


.buttons{
    flex-wrap: wrap;
    font-size: 11px;
}




.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    margin: 25px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.flex-item_3{
    display: flex;
    flex-direction: row;
}

.flex-item_4{
    margin: 25px;
    display: flex;
    justify-content: center;
}

.flex-item_4 img{
    width: 28%;
    margin: 0px;
}

.design{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

}

@media (min-width:600px) and (max-width:768px) {
    
    .bar{
        height: 550px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 50px;
        color: white;
        font-size: 30px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width: 14%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 



.flex-container ul li{
    list-style-type: none;
    margin-left: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


.num{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 16px;
}


    .body2{
        display: flex;flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Lato';
        margin: 0px 20px 0px 20px;
    }

.comment-item3{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

.portfolio .aboutme{
    width: 100%;
    line-height: 35px;
    font-size: 17px;
}

.aboutme h2{
    text-align: center;
}

.aboutme .pin{
    font-size: 0px;
}

.mypic p{
    font-size: 0px;
}

.mypic h5{
    font-size: 0px;
}

.body1 h3{
    font-size: 40px;
}



.buttons{
    flex-wrap: wrap;
    font-size: 11px;
}




.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    margin: 15px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.flex-item_3{
    display: flex;
    flex-direction: row;
}

.flex-item_4{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.flex-item_4 img{
    width: 30%;
    margin: 0px;
}

.design{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

}

@media (min-width:425px) and (max-width:600px) {
    
    .bar{
        height: 550px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 50px;
        color: white;
        font-size: 30px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width: 15%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 



.flex-container ul li{
    list-style-type: none;
    margin-left: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.num{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 10px;
}


    .body2{
        display: flex;flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Lato';
        margin: 0px 20px 0px 20px;
    }

.comment-item3{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

.portfolio .aboutme{
    width: 100%;
    line-height: 35px;
    font-size: 17px;
}

.aboutme h2{
    text-align: center;
}

.aboutme .pin{
    font-size: 0px;
}

.mypic p{
    font-size: 0px;
}

.mypic h5{
    font-size: 0px;
}

.body1 h3{
    font-size: 40px;
}



.buttons{
    flex-wrap: wrap;
    font-size: 11px;
}




.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    margin: 15px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.flex-item_3{
    display: flex;
    flex-direction: column;
}

.flex-item_4{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.flex-item_4 img{
    width: 30%;
    margin: 0px;
}

.design{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

}

@media (min-width:300px) and (max-width:425px) {
    
    .bar{
        height: 500px;
    }

    .hero-section{
        width: 100%;
    }

    h1{
        margin-top: 100px;
        margin-bottom: 50px;
        color: white;
        font-size: 28px;
        font-family:'DM Sans','Poppins', 'Lato', sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .flex-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    
    }

    .flex-item_1 img{
        width:15%;
    }

    
.flex-item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}


.flex-item_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
} 


.flex-item_2 li{
    list-style-type: none;
    margin-left: 10px;
}

.flex-item_2 li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}


.num{
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid white;
}

.num:hover{
    background-color: rgb(0, 72, 0);
    color: white;
    transition: linear 150ms;
    border: 1px solid rgb(0, 72, 0);
}

.num a{
    font-style: thin;
    font-size: 10px;
}


    .body2{
        display: flex;flex-wrap: wrap;
        font-size: 20px;
        font-family: 'Lato';
        margin: 0px 20px 0px 20px;
    }

.comment-item3{
    width: 95%;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 100px 50px;
}

.portfolio .aboutme{
    width: 100%;
    line-height: 35px;
    font-size: 17px;
}

.aboutme h2{
    text-align: center;
}

.aboutme .pin{
    font-size: 0px;
}

.mypic p{
    font-size: 0px;
}

.mypic h5{
    font-size: 0px;
}

.body1 h3{
    font-size: 40px;
}



.buttons{
    flex-wrap: wrap;
    font-size: 11px;
}




.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    margin: 15px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.flex-item_3{
    display: flex;
    flex-direction: column;
}

.flex-item_4{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.flex-item_4 img{
    width: 30%;
    margin: 0px;
}

.design{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
}